<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Ofertas web</title>
</head>
<body>
    <h1>Estudiante</h1>
    <form action="/register/student" method="post">
        <div>
            <label for="name">
                Nombre:
                <input type="text" name="name">
            </label>
            <label for="surname">
                Apellidos:
                <input type="text" name="surname">
            </label>
        </div>
        <div>
            <label for="email">
                Email:
                <input type="email" name="email">
            </label>
        </div>
        <div>
            <label for="password">
                Contraseña:
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit" value="Registrarse">
        </div>
    </form>
</body>
</html>