<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/views/index.css">
    <link rel="stylesheet" href="/css/components/button.css">
    <title>Ofertas web</title>
</head>
<body>
    <main>
        <div id="user-selection">
            <a href="/login/student" class="button">Estudiante</a>
            <a href="/login/company" class="button">Empresa</a>
        </div>
    </main>
</body>
</html>