<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas web</title>

    <link rel="stylesheet" href="/css/views/index.css">
    <script>0</script>
</head>
<body>
    <div id="notifications-container">
    </div>
    <main>
        <div id="login-container">
            <h2>
                Iniciar sesión
            </h2>
            <div id="user-selection-container">
                <button class="button selection-button" id="user-selection-button">
                    <img src="/media/svg/user.svg" alt="user" class="icon selection-icon">
                </button>
                <button class="button button-hollow selection-button" id="company-selection-button">
                    <img src="/media/svg/company.svg" alt="user" class="icon selection-icon" id="company-icon">
                </button>
            </div>
            <form action="/auth" method="post" class="form" id="login-form">
                <div>
                    <label for="email">
                        <h4>Correo electrónico</h4>
                        <input type="email" name="email" required>
                    </label>
                </div>
                <div>
                    <label for="password">
                        <h4>Contraseña</h4>
                        <input type="password" name="password" required>
                    </label>
                </div>
                <div>
                    <button type="submit" class="button">Inciar sesión</button>
                </div>
                <small><a href="/register.html" class="link" id="register-link">Registrarse</a></small>
            </form>
        </div>
    </main>
    <script type="module" src="/js/views/index.js"></script>
    <script type="module" src="/js/components/textNotification.js"></script>
</body>
</html>