<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components/button.css">
    <title>Ofertas web</title>
</head>
<body>
    <header>
        <nav>
            <a href="/logout.html" class="button button-warning" id="logout-button">Cerrar sesión</a>
        </nav>
    </header>
    <main>
        Ofertas
    </main>
</body>
</html>