* {
    --button-border-width: 2px;
    --button-border-radius: 8px;


    --button-color-default: #fff;
    --button-background-color-default: #044f9b;
    --button-border-color-default: var(--button-background-color-default);

    --button-color-warning: #fff;
    --button-background-color-warning: #dc3545;
    --button-border-color-default: var(--button-background-color-warning);
}