.button {
    padding: 5px 10px;

    color: #fff;
    background-color: #044f9b;

    border: 2px solid #044f9b;
    border-radius: 8px;
}

a.button {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.button.button-warning {
    color: inherit;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button.button-hollow {
    background-color: transparent;
}

.button.button-hollow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-transparent {
    color: black;
    background-color: transparent;
    border-color: transparent;
}

.link {
    color: #0c73d9;
    text-decoration: none;
}
.link:active {
    color: inherit;
}