<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Ofertas web</title>
</head>
<body>
    <main>
        <h1>Estudiante</h1>
        <form action="/auth" method="post" id="login-student-form">
            <div>
                <label for="email">
                    Email:
                    <input type="email" name="email">
                </label>
            </div>
            <div>
                <label for="password">
                    Contraseña:
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <input type="submit" value="Iniciar sesión">
            </div>
        </form>
        <small><a href="/register/student">Registrarse</a></small>
    </main>
</body>
</html>