@import "../utils.css";
@import "../components/image.css";
@import "../components/form.css";
@import "../components/text-notification.css";

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 20px;
}

#login-container > * {
    margin: 10px 0;
}

#login-form {
    max-width: 20%;
}

#user-selection-container {
    display: flex;
    flex-direction: row;
}

.selection-button {
    width: 75px;
    height: 50px;
}

#user-selection-button {
    border-right: none;
    border-radius: 75px 0 0 75px;
}
#company-selection-button {
    border-left: none;
    border-radius: 0 75px 75px 0;
}

.selection-icon {
    filter: invert(99%) sepia(7%) saturate(969%) hue-rotate(218deg) brightness(117%) contrast(100%);
}

.selection-button.button-hollow .selection-icon {
    filter: brightness(0) saturate(100%) invert(15%) sepia(58%) saturate(4516%) hue-rotate(199deg) brightness(99%) contrast(97%);
}

#company-icon {
    width: 30px;
}

#notifications-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50px; right: 50px;
}

#notifications-container > * {
    margin: 5px 0;
}